body{
	background-color: /* #E7FFCF */ black;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	background-color: /* #E7FFCF */ #050506;
	background-color: /* #E7FFCF */ #050506;
	overflow-x: hidden; 
	transition: 0.10s;
}

.overlay-content {
	position: relative;
	top: 25%; 
	width: 100%;
	text-align: center; 
	margin-top: 30px; 
}

.overlay #welcome-title{
	padding: 8px;
	text-decoration: none;
	font-size: 42px;
	color: #818181;
	display: block; 
	transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}

@media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
} 

#variables-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: #818181;
}

#variable-name {
	font-size: 18px;
	padding-right: 10px;
	justify-content: start;
}

#variable-value {
	font-size: 50px;
	justify-content: end;
	width: 100%;
	display: flex;
}

#sim-btn {
	padding: 20px;
	font-size: 36px;
	text-align: center;
	border-radius: 20px;
	border-bottom: solid 10px black;
	border-right: solid  10px black;
	border-left: solid  2px black;
	border-top: solid  2px black;
	background-color: white;
}

#sim-btn:hover {
	border-bottom: solid 2px black;
	border-right: solid  2px black;
	border-left: solid  2px black;
	border-top: solid  2px black;
	background-color: darksalmon;
}

#wiki-fact {
	padding: 20px;
	font-size: large;
	text-align: center;
	border-radius: 10px;
	border: solid 5px black;
}

.App {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100vh;
}

#myNav {
	display: none;
}

#variable-content {
	display: flex;
	flex-direction: row;
}

#column-3 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin:50px
}

#animation {
	display: flex;
	align-items: center;
	justify-content: center;
}